 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg col-lg-32">
                    <p align="justify" style="color:black; margin-left:10px; margin-right:10px"> Hello World! <br><br>
                   My name is Kashyap Ravichandran & I am currently a Masters candidate at North Carolina State University, Raleigh's College of Engineering. I mainly focus on Computer Architecture and Software Developement for Embedded Devices but those who know me would describe me as a hardcore tech enthusiast. I believe that the best of tech is yet to come and I am eager to contribute to an industry that will change the world for the better. <br><br>

					You can find a handful of my projects linked on this site and a more detailed version of all my projects on my <a href="https://www.linkedin.com/in/kashyap-r/">Linkedin</a> or <a href="https://github.com/kashyapravichandran">GitHub page </a>. I am constantly looking to collaborate and discuss tech so feel free to reach out to any of my social media accounts or leave me a message using the form below! <br><br>


                    Ciao! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/kashyapravichandran/kashyapravichandran.github.io/raw/master/_includes/Resume/Kashyap%20Ravichandran.pdf" class="btn btn-lg btn-outline1" download="Kashyap_Ravichandran.pdf">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
