<section id="experience">

  <div class="container">
    <div class ="row">
      <div class="col-lg-12 text-center">
        <h2> Experience</h2>
        <hr class="star-primary">  
      </div>
    </div>
    <div class ="row"> 
    <div class="col-lg-7">
      <p><br><br></p>
        <div class="timeline">
          <div class="timeline_container right">
            <div class="content">
              <div style=" padding: 20px 30px; background-color: #557580; position: relative; border-radius: 6px; ">
              <h2 style="font-size:100%; color:white;">Research Fellow</h2>
              <h3 style="font-size:75%; color:white;"> Indian Institute of Technology-Madras, Chennai, India</h3> 
              <h3 style="font-size:75%; color:white;"> May 2018 - September 2018 </h3>
            </div>
              <div style=" padding: 20px 30px; background-color: #E6E6E6; position: relative; border-radius: 6px; ">
                <ul style="color:black">
                  <li>Designed and developed hardware and firmware for Take Note, a note-taking device for the visually impaired.</li>
                  <li>Created a software prototype for “Take Note”.</li>
                  <li>Aided in the development of Aditi-W, a wireless clicker for people with motor disability.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline_container right">
            <div class="content">
              <div style=" padding: 20px 30px; background-color: #557580; position: relative; border-radius: 6px; ">
                <h2 style="font-size:100%; color:white;">Intern</h2>
                <h3 style="font-size:75%; color:white;"> IBM India, Bangalore, India</h3> 
                <h3 style="font-size:75%; color:white;"> November 2017 - January 2018 </h3>
              </div>
              <div style=" padding: 20px 30px; background-color: #E6E6E6; position: relative; border-radius: 6px; ">
                <ul style="color:black">
                  <li>Worked exclusively on IBM Watson (IBM’s cloud services).</li>
                  <li>Formulated a machine learning model to perform few basic classification</li>
                  <li>Created documentation for IBM Watson IoT Services.</li>
                </ul>
              </div>
            </div>
          </div><div class="timeline_container right">
            <div class="content">
              <div style=" padding: 20px 30px; background-color: #557580; position: relative; border-radius: 6px; ">
                <h2 style="font-size:100%; color:white;">Intern</h2>
                <h3 style="font-size:75%; color:white;"> Syrma Technologies, Chennai, India</h3> 
                <h3 style="font-size:75%; color:white;"> May 2017 - June 2017 </h3>
              </div>
              <div style=" padding: 20px 30px; background-color: #E6E6E6; position: relative; border-radius: 6px; ">
                <ul style="color:black">
                  <li>Worked on innovative solutions to semi-automate their PCB assembly line.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="col-lg-5">
        
        <p><br><br></p>
        
        <div class="row">
          <h2 style="font-size:200%; text-align:center;"> Skills</h2>
          <p><br></p>
        </div>

        <div class="row">
          <p><img src="img/code.png" class="img-responsive" style="float: left; margin-left:5px"><span style="font-size:120%; color: #CCB472; margin-left: 20px;"><strong>Code</strong></span><br><span style="font-size:75%; color: #000000; margin-left: 20px;"> C++, C, Embedded C, Python, Cuda </span></p>
        </div>
      
        <div class="row">
          <p><br></p>
            <p><img src="img/IC.png" class="img-responsive" style="float: left; margin-left:5px"><span style="font-size:120%; color: #CCB472; margin-left: 20px;"><strong>Development Boards</strong></span><br><span style="font-size:75%; color: #000000; margin-left: 20px;"> FRDM KL25Z, Node MCU ESP32, Arduino, Raspberry Pi </span></p>
          
        </div>
        <div class="row">
        
          <p><br></p>
          <p><img src="img/tools.png" class="img-responsive" style="float: left; margin-left:5px"><span style="font-size:120%; color: #CCB472; margin-left: 20px;"><strong>Tools and Toolchains</strong></span><br><span style="font-size:75%; color: #000000; margin-left: 20px;"> IBM Watson, OpenMP, Allegro, Spectre, Keil uVision, git</span></p>


        </div>

        <div class="row">
         <p><br><br></p> 

         <h2 style="font-size:200%; text-align:center;"> Achievements </h2>
         
         <p><br><br></p>
                <ul>
              <li class ="achievements_bottom">
                <h2 style="font-size:75%;color:#ffffff;"> IBM Developer Scholar </h2>
                <h3 style="font-size:65%;color:#A8A8A8;"> 2018, IBM India</h3>
                <p style="font-size:75%; color:#ffffff;"> For contribution to the IBM Developer Community </p>
              </li>
              <li class ="achievements_top">
                <h2 style="font-size:75%; color:#000000;"> People's Choice Award </h2>
                <h3 style="font-size:65%; color:#A8A8A8;"> August, 2018, Yet Another Hackathon!</h3>
                <p style="font-size:75%; color:#000000;"> Built a system with Raspberry Pi to detect falls and assault on a person </p>
              </li>
              <li class ="achievements_bottom">
                <h2 style="font-size:75%;color:#ffffff;"> Keynote Talk </h2>
                <h3 style="font-size:65%;color:#A8A8A8;"> September 2018, Pysangamam </h3>
                <p style="font-size:75%; color:#ffffff;"> Using Python to develop Embedded Systems </p>
              </li>

            </ul>
          

        </div>

    </div>
    </div>    
</section>
