<section id="experience">
  <div class="container">
    <div class ="row">
      <div class="col-lg-12 text-center">
        <h2> Experience and Academics</h2>
        <hr class="star-primary">  
      </div>
    </div>
    <div class ="row"> 
    <div class="col-lg col-lg-offset-2">
        <div class="timeline">
          <div class="timeline_container right">
            <div class="content">
              <h2>2016</h2>
              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
          <div class="timeline_container right">
            <div class="content">
              <h2>2012</h2>
              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
          <div class="timeline_container right">
            <div class="content">
              <h2>2007</h2>
              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
        </div>
    </div>
    </div>    
</section>
